# SPDX-FileCopyrightText: © 2021 Michael Goerz <mail@michaelgoerz.net>
#
# SPDX-License-Identifier: MIT OR CC0-1.0

*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/test/Manifest.toml
/docs/Manifest.toml
/docs/build/
/gh-pages/
/.JuliaFormatter.toml
/lcov.info
/coverage
